<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Piece Practice</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/abcjs-basic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fullReadScript.js') }}" defer></script>
</head>
<body>
    <h1>Display Full piece here</h1>
    <div id="highlightBox"></div>
    <div id="note-container">{{ abc }}</div>
    <button id="start-stop-button">Start</button>
    <button id="back-button" onclick="window.location.href = 'index' ;">Back</button>
</body>
</html>