<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joner</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet">
</head>
<body>
    <h1>Main Page</h1>
    <button onclick="window.location.href = 'simpleReadPractice' ;">Simple Read Practice</button>
    <button onclick="window.location.href = 'chordReadPractice' ;">Chord Read Practice</button>
    <button onclick="window.location.href = 'fullReadPractice' ;">Full Read Practice</button>
    <button onclick="window.location.href = 'latencyTest' ;">Latency Test</button>

</body>
</html>