<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latency Test</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/abcjs-basic.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/latencyTestScript.js') }}"></script>
</head>
<body>
    <div id="banner" class="banner">
        <div id="logo" class="logo"></div>
    </div>
    <p>Play a note and press the spacebar while the note is audible to detect the latency of the note detection. Wait a bit before restarting the test to get accurate results.</p>
    <p>Detected Latency: </p>
    <span id="latency-counter">0ms</span>
    <div class="custom-button back-button" onclick="window.location.href = 'index' ;">
        <span>Back</span>
        <div class="music-sheet" id="back-button-music"></div>
    </div>
</body>
</html>