body {
  background-color: antiquewhite;
}

#note-container {
  position: relative;
}

#highlightBox {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.2);
  pointer-events: none;
  z-index: 10;
  width: 10px;
  height: 10px;
  display: none;
}