body {
  background-color: #e6e5de;
  background-repeat: repeat;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 13vh;
  border-radius: 10%;
  border-bottom: #b6b6b0 10px solid;
}

.logo {
  background-image: url("../img/LogoNoteLines.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.introduction {
  background-color: rgba(50, 50, 50, 0.1);
  border-radius: 30px;
}

.introduction-heading {
  font-weight: bold;
  font-size: larger;
}

.introduction-text {
  font-size: large;
}

.button-grid {
  display: grid;
  grid-template-columns: 22% 35% 22%;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  justify-content: space-evenly;
  margin-top: 30px;
}

.custom-button {
    position: relative;
    padding: 20px;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #333;
    cursor: pointer;
    transition: transform 0.2s ease;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: stretch;
    align-items: center;
}

.custom-button span {
    z-index: 2;
}

.custom-button .music-sheet {
    position: absolute;
    color: white;
    width: 100%; 
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

.custom-button:hover {
    transform: scale(1.05);
}

.tutorial-display {
  grid-column: 2; /* Center column */
  grid-row: span 2; /* Spans both rows */
  background-color: #eaeaea;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  overflow-y: auto;
}

.tutorial-display h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.simple-read {
  background-color: #ca84a9;
  color: black;
}

.chord-read {
  background-color: #8a85c8;
  color: black;
}

.full-read {
  background-color: #86c2ca;
  color: black;
}

.latency-test {
  background-color: #84c990;
  color: black;
}

#score-board {
  align-self: flex-start;
  font-size: large;
  background-color: #b6b6b0;
  border: black 1px solid;
  margin-left: 20px;
}

#transpose-select-label {
  align-self: flex-start;
  padding-top: 10px;
  font-size: large;
  margin-left: 20px;
}

#transpose-select {
  align-self: flex-start;
  font-size: large;
  margin-left: 20px;
}

.back-button {
  bottom: 20px;
  left: 20px;
  width: 10%;
  height: 7%;
  position: absolute;
  background-color: #ed8f8f;
  color: black;
}

#start-stop-button {
  text-align: center;
  align-content: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 50px;
  background-color: #8a85c8;
  width: 10%;
  height: 7vh;
}

#note-container {
  position: relative;
}

#highlightBox {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.2);
  pointer-events: none;
  z-index: 10;
  width: 10px;
  height: 10px;
  display: none;
}